.container-main-finish-contract {
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px;
  justify-content: center;
}

.container-finish-contract {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  height: 100%;
  background-color: var(--main-yellow);
}

.container-name-button-return h1 {
  color: white;
}

.container-infos-contract {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.container-infos-contract div {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  padding: 40px;
  width: 30vw;
  justify-content: space-evenly;
  border-radius: 20px;
  background-color: var(--contract-infos-yellow);
}

.container-infos-contract div p {
  gap: 10px;
  display: flex;
}
