h1 {
  font-family: "Mansalva", cursive;
  font-size: 7rem;
  color: var(--main-yellow);
}

.container-main-motoristas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-input-filter {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: auto;
  gap: 60px;
}

.inputs-filters-motoristas {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 200px;
  gap: 100px;
}

.box-motoristas-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 50vh;
  width: 60vw;
  padding: 1.5rem;
  overflow: scroll;
  overflow-x: hidden;
}

.box-motoristas-card::-webkit-scrollbar {
  width: 7px;
  background-color: var(--main-yellow);
  border-radius: 15px;
}

.input-search-filter-driver {
  display: flex;
  width: 100%;
  padding-left: 200px;
  align-items: center;
}
.input-search-filter-driver div {
  width: 100%;
}

.container-filters-dropdown {
  display: flex;
  gap: 40px;
}

@media (max-width: 1350px) {
  .box-motoristas-card {
    width: 90vw;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 4rem;
  }
  .box-input-filter {
    align-items: center;
    justify-content: center;
  }
  .input {
    height: 0.5rem;
    width: 30rem;
  }
  .filters-drivers {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .inputs-filters-motoristas {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    gap: 1rem;
  }
  .container-filters-dropdown {
    flex-direction: column;
  }
  .input-search-filter-driver {
    padding-left: 0;
    width: 80%;
  }
}
