.container-main-suas-vans {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.van {
  align-items: center;
  justify-content: space-around;
}

.container-infos-van {
  display: flex;
  flex-direction: column;
}
