.container-main-suas-vans {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.van {
  align-items: center;
  justify-content: space-around;
}

.van div {
  align-items: center;
  display: flex;
  justify-content: center;

  height: 100%;
}

.van img {
  display: flex;
  border-radius: 20px;
  height: 80%;
}

.container-infos-van {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

.container-suas-vans-card {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.height-auto {
  gap: 50px;
}
