footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-yellow);
  border-top-left-radius: 30px;
  height: auto;
  border-top-right-radius: 30px;
  padding: 30px;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-contact {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
}

.footer-localization {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.localization-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: auto;
}

@media (max-width: 375px) {
  span{
    font-size: 1rem;
  }
  footer{
    flex-direction: column;
  }

}
