.main-container-allcontracts {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.allContracts-container::-webkit-scrollbar-thumb {
  background-color: var(--button-contract-yellow);
  border-radius: 15px;
}
