.main-container-allcontracts {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.allContracts-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: 50vh;
  width: 60vw;
  padding: 1.5rem;
  overflow: scroll;
  overflow-x: hidden;
}
.allContracts-container::-webkit-scrollbar{
  background-color: var(--button-contract-yellow);
  border-radius: 15px;
}

