.card-contracts {
  display: flex;
  align-items: center;
  width: auto;
  gap: 50px;
  height: auto;
  background-color: white;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

.container-image-contracts {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.container-image-contracts img {
  height: 300px;
  border-radius: 20px;
}

.container-all-infos-all-contracts {
  display: flex;
  height: 100%;
}

.nome-container,
.infos-endereco-content {
  justify-content: center;
  font-size: 1.5rem;
}

.container-h2-endereco {
  font-weight: 800;
}
.infos-contratar {
  display: flex;
  gap: 80px;
  padding: 20px;
  height: 100%;
}

.infos-motorista-container,
.infos-endereco-container-contract {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.infos-motorista-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infos {
  font-size: larger;
}

.infos-endereco-container {
  display: flex;
  height: 100%;
}

.info-adds {
  font-size: 1.2rem;
}

.deletar-button-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.button-deletar {
  display: flex;
  justify-content: center;
}

.button-deletar button {
  display: flex;
  width: 3rem;
  height: 2rem;
  padding: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #d40000;
  font-size: xx-large;
  border: none;
}

@media (max-width: 1404px) {
  .card-driver {
    width: 800px;
  }
}

@media (max-width: 1330px) {
  .container-image-contracts img {
    height: 200px;
  }
  .infos-contratar {
    gap: 30px;
  }

  .nome-container,
  .infos-endereco-content {
    font-size: 1.2rem;
  }
}

@media (max-width: 870px) {
  .card-driver {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .infos-contratar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container-image {
    height: 350px;
  }
  .nome-container{
    height: 100%;
    display: flex;
    align-items: center;
  }
  /* .menu-burguer-container{
    display: none;
  } */
}
