.card-contracts {
  display: flex;
  align-items: center;
  width: auto;
  height: auto;
  background-color: white;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

.container-image-contracts {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.container-image-contracts img {
  height: 300px;
  border-radius: 20px;
}

.container-all-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nome-container {
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.nome-motorista {
  font-weight: 800;
}
.infos-contratar {
  display: flex;
  gap: 40px;
  justify-content: inherit;
}

.info-endereco {
  font-weight: 700;
  font-size: larger;
}
.infos-motorista-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.infos-motorista-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.infos {
  font-size: larger;
}

.infos-endereco-container {
  display: flex;
  height: 100%;
}
.infos-endereco-content {
  font-size: 1.5rem;
}

.info-adds {
  font-size: 1.2rem;
}

.deletar-button-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.button-deletar {
  display: flex;
  justify-content: center;
}

.button-deletar button {
  display: flex;
  width: 3rem;
  height: 2rem;
  padding: 2.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #d40000;
  font-size: xx-large;
  border: none;
}

@media (max-width: 1404px) {
  .card-driver {
    width: 800px;
  }
}

@media (max-width: 870px) {
  .card-driver {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .infos-contratar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .container-image {
    height: 350px;
  }
}
