.container-main-suas-escolas {
  height: auto;
  width: 100%;
  padding: 50px;
}

.container-h1-suas-escolas {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.container-suas-escolas {
  display: flex;
  background-color: var(--main-yellow);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.363);
  width: 100%;
  border-radius: 20px;
  padding: 20px;
  height: 80vh;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.container-buttons-save-escola {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
@media (max-width:375px) {
  h1{
    font-size: 3rem;
  }
  .input-login{
    padding: 0;
  }
  .container-buttons-save-escola{
    flex-direction: column;
  }
}
