.container-main-perfil {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 30px;
  align-items: center;
}

.container-itens-perfil {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  align-items: center;
  background-color: var(--main-yellow);
  border-radius: 20px;
  padding: 20px;
}

.container-h1-perfil {
  font-family: "Mansalva", cursive;
}

.container-inputs-perfil-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.container-inputs-perfil-first {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.inputs-perfil {
  padding-bottom: 30px;
  flex-direction: column;
}

.input-perfil-email {
  display: flex;
  width: 100%;
  padding-bottom: 30px;
}

.space-around {
  width: 100%;
  justify-content: space-around;
}

.center {
  justify-content: center;
}

.container-inputs-perfil-passwords {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}

.container-input-desc-driver {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.container-input-desc-driver div {
  height: 80%;
  width: 50%;
}
.container-input-desc-driver div input {
  display: flex;
  height: 90%;
  width: 100%;
}

.container-buttons-perfil {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.container-picture-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.container-picture-perfil div label p {
  text-align: center;
}

.input-container-descri-driver {
  width: auto;
}

.input-container-descri-driver div,
.input-container-descri-driver div input {
  width: 100%;
  height: 500px;
}
.container-picture-perfil {
  width: auto;
  height: auto;
}
.container-picture-perfil label {
  width: auto;
  height: auto;
}
.form-picture-label img {
  width: 15rem;
  border-radius: 20px;
}

.modal-teste {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.modal-teste div {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.coment {
  width: auto;
  padding: 40px;
  align-items: center;
  flex-direction: column;
}

.comment {
  display: flex;
  flex-direction: column;
}
@media (max-width:375px) {
  .container-inputs-perfil-first {
    flex-direction: column;
  }
  .inputs-more-infos {
    border: none;
    border-radius: 10px;
    padding: 1.5rem 1.5rem;
    width: 70vw;
    font-size: 1.5rem;
    font-weight: 300;
    outline: none;
}
.space-around{
  flex-direction: column;
 align-items: center;
} 
.container-buttons-perfil{
  width: 80%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
}