.main-notifications {
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name-container-notifications {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-container-part {
  display: flex;
  justify-content: center;
}

.cards-notifications-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: auto;
  width: 80vw;
  padding: 1.5rem;
  overflow: scroll;
  overflow-x: hidden;
}
.cards-notifications-container::-webkit-scrollbar {
  background-color: var(--button-contract-yellow);
  border-radius: 15px;
}
