.container-inputs-more-infos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  width: 100%;
}

.container-all-infos-driver {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.placeholder {
  font-weight: 500;
  font-size: 1.2rem;
}

.container-register-infos-driver {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.container-datanasc-cnh-datainic-driver,
.container-rg-cpf-telefone-driver {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
